body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(171, 242, 245);
    }
        
    * {
    box-sizing: border-box;
    }
        
    /* Add padding to containers */
    .container {
    padding: 16px;
    background-color: rgb(124, 185, 209);
    }
        
    /* Full-width input fields */
    input[type=text], input[type=password], input[type=number], input[type=date] {
    width: 35%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    }
        
    input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=date]:focus {
    background-color: #ddd;
    outline: none;
    }
        
    /* Set a style for the submit button */
    .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    }
        
    .registerbtn:hover {
    opacity: 1;
    }